@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default;
}

* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.booked-date {
  background-color: #fee2e2 !important;
  color: #dc2626 !important;
  text-decoration: line-through;
  border-radius: 0;
}

.react-calendar__tile--disabled:not(.booked-date) {
  background-color: #f3f4f6;
  color: #9ca3af;
}

.react-calendar__tile--range,
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: #1f2937 !important;
  color: white !important;
}
